html, body {
  width: 100%;
  position: relative;
  background-color: #000;
  font-family: Helvetica Neue, Helvetica, Arial; }
  html *, body * {
    margin: 0;
    padding: 0; }

.wrapper {
  width: 1040px;
  position: relative;
  margin: 0 auto; }
  .wrapper .user_panel {
    width: 200px;
    height: 100%;
    position: fixed;
    background-color: #ddd; }
  .wrapper ul {
    display: block;
    list-style: none; }
  .wrapper .content {
    position: relative;
    width: 640px;
    margin-left: 200px;
    color: #fff; }
    .wrapper .content li {
      display: inline-block; }
  .wrapper .avatar {
    border-radius: 50%; }
