html, body {
    width: 100%;
    position: relative;
    background-color: #000;
    font-family: Helvetica Neue, Helvetica, Arial;

    & * {
        margin: 0;
        padding: 0;
    }
}

.wrapper {
    width: 1040px;
    position: relative;
    margin: 0 auto;

    .user_panel {
        width: 200px;
        height: 100%;
        position: fixed;
        background-color: #ddd;
    }

    ul {
        display: block;
        list-style: none;
    }

    .content {
        position: relative;
        width: 640px;
        margin-left: 200px;
        color: #fff;

        li {
            display: inline-block;
        }
    }

    .avatar {
        border-radius: 50%;
    }

}