<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ngStagram</title>
    <!--<link rel="stylesheet" href="./dist/css/main.min.css">-->
    <link rel="stylesheet" href="./src/css/tmp.css">
</head>
<body ng-app="ngStagram">

<div class="wrapper" ng-controller="ProfileCtrl as pc">

    <div class="auth" ng-show="!pc.is_authorized" ng-controller="AuthCtrl as ac">
        <a class="btn auth" href="{{ ac.href }}">Auth</a>
    </div>

    <div class="user_panel" ng-show="pc.is_authorized">
        <img class="avatar" ng-src="{{ pc.pic }}"/>

        <p>{{ pc.name }}</p>

        <p>Follows: {{ pc.follows }}</p>

        <p>Followers: {{ pc.followed_by }}</p>
        <ul>
            <li><a ng-click="pc.loadFeed()">Feed</a></li>
            <li><a ng-click="pc.loadFollowers()">Followers</a></li>
        </ul>
    </div>

    <div class="content">

        <div class="feed_container" ng-controller="FeedCtrl as fc" ng-show="pc.content == 'feed'">
            <ul>
                <li ng-repeat="f in feed">
                    <div class="pic_info">
                        <span>
                            <img class="avatar" width="60" height="60" ng-src="{{ f.user.profile_picture }}"/>
                            </span>
                        <span>{{ f.user.username }}</span>
                        <span>Likes: {{ f.likes.count }}</span>
                        <a ng-click="fc.like(f.id)">Like!</a>
                        <a href="{{ f.images.standard_resolution.url }}" download="{{ f.images.standard_resolution.url }}">Download</a>
                    </div>
                    <img ng-src="{{ f.images.standard_resolution.url }}"/>
                </li>
            </ul>
            <a ng-show="feed.length" ng-click="fc.loadMore()">More</a>
        </div>

        <div class="followers_container" ng-controller="FollowersCtrl as fc" ng-show="pc.content == 'followers'">
            <ul>
                <li ng-repeat="f in followers">
                    <img ng-src="{{ f.profile_picture }}"/>
                </li>
            </ul>
            <a ng-show="followers.length" ng-click="fc.loadMore()">More</a>
        </div>

    </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<script src="./bower_components/angular/angular.min.js"></script>
<script src="./bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="./src/js/tmp.js"></script>
<!--<script src="./dist/js/main.min.js"></script>-->
</body>
</html>